<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New product</title>
</head>
<body>

<form th:method="POST" th:action="@{/}" th:object="${product}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="price">Enter price: </label>
    <input type="text" th:field="*{price}" id="price"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price error</div>
    <br/>
    <label for="description">Enter description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

<form th:action="@{/stuff}">
    <input type="submit" value="Cancel">
</form>

</body>
</html>